* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1440px;
    background-image: url('/assets/css/img/Sharp.png');
    height: 1024px;
}
.design {
    padding: 354px 260px 387px 260px ;
}
.design h1 {
    color: #FFFFFF;
    width: 920px;
    font-size: 80px;
    font-weight: 700;
    line-height: 81px;
    text-align: center;
    text-underline-position: from-font;

}
.design p {
    color: #FFFFFF;
    width: 630px;
    margin-left: 100px;
    margin-top: 24px;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    margin-bottom: 40px;

}
.design a {
    color: #FFFFFF;
    margin-left: 353px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    background-color:  #094BAC;
    border-radius: 32px;


}